DJANGO_SECRET_KEY=<python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"로 생성한 값>
DJANGO_DEBUG=false

DB_NAME=namingdb
DB_USER=namingadmin
DB_PASSWORD=<비밀번호>
DB_HOST=<RDS 엔드포인트>.rds.amazonaws.com
DB_SSL_REQUIRE=true

NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=<비밀번호>
NEO4J_DATABASE=neo4j

OPENAI_API_KEY=<OpenAI API 키>
LAW_API_KEY=<국가법령정보 API 키>
URIMALSAM_API_KEY=<우리말샘 API 키>

USE_S3=true
AWS_ACCESS_KEY_ID=<IAM 액세스 키>
AWS_SECRET_ACCESS_KEY=<IAM 시크릿 키>
AWS_STORAGE_BUCKET_NAME=<버킷명>
