anyio==4.14.1
asgiref==3.11.1
boto3==1.43.39
botocore==1.43.39
certifi==2026.6.17
Django==6.0.6
django-storages==1.14.6
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
jmespath==1.1.0
packaging==26.2
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.19.0
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
